
/.gradle/8.6/checksums
/.gradle/8.6/checksums
/.gradle/8.6/checksums
/.gradle/8.6/checksums
/.gradle/8.6
/.gradle
/.idea
/.idea
/app/build/intermediates/incremental
/app/build
/app/build/tmp
app/release/app-release.aab
/build/reports/configuration-cache
/app/build/generated
