<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kim.tkland.musicbeewifisync">
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="kim.tkland.musicbeewifisync.WifiSyncApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="kim.tkland.musicbeewifisync.WifiSyncService"
            android:exported="false" />

        <activity
            android:name="kim.tkland.musicbeewifisync.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kim.tkland.musicbeewifisync.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="kim.tkland.musicbeewifisync.SyncResultsStatusActivity"
            android:label="@string/title_activity_sync_status" />
        <activity
            android:name="kim.tkland.musicbeewifisync.SyncResultsPreviewActivity"
            android:label="@string/title_activity_sync_preview" />
        <activity
            android:name="kim.tkland.musicbeewifisync.PlaylistSyncActivity"
            android:label="@string/title_activity_sync_playlists" />
        <activity
            android:name="kim.tkland.musicbeewifisync.ViewErrorLogActivity"
            android:label="@string/title_activity_view_error_log" />
    </application>

</manifest>